<div class="navbar-fixed">
    <nav class="t1-navbar">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/#/" class="brand-logo left white-text">Code Checker</a>
            <ul class="right ">
                <li><a href="/#/" class="white-text">Log In</a></li>
                <!--<li><a href="/#/" class="white-text hide-on-med-and-up"><i class="material-icons">keyboard_tab</i></a></li>-->
            </ul>
        </div>
    </nav>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <h4 class="header center t1-heading-color">Plagiarism Detection in Programming Assignments</h4>
        <div class="row center">
            <h5 class="header col s12 light">Easily Upload, Compare, and Analyze Student Submissions<br> to Check Code Copying</h5>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="row container">
            <div class="col s12 m10 push-m2 push-s2 t1-66-width">
                <ul class="collection">
                    <li class="collection-item center t1-green-text">
                        <h5>Create Account</h5>
                    </li>
                </ul>
            </div>
            <form class="col s12">
                <div class="row">
                    <div class="red-text col s12 m10 push-m2" role="alert" ng-show="model.loginError">
                        {{model.loginError}}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m8 push-m2">
                        <input id="email" type="text" ng-model="user.email" class="validate">
                        <label for="email">Email Address*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 push-m2">
                        <input id="password" type="password" ng-model="user.password" class="validate">
                        <label for="password">Password*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m8 s12 push-m2">
                        <a class="btn center form-control t1-login-btn"
                           id="signUpButton"
                           href="/#/upload-submission"
                           type="submit">
                            Sign Up
                        </a>
                        <div class="preloader-wrapper small active right t1-preloader-margin" ng-if="model.loginLoader==1">
                            <div class="spinner-layer spinner-yellow-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>