<div class="navbar-fixed">
    <nav class="t1-navbar">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/#/" class="brand-logo left white-text">Code Checker</a>
            <ul class="right ">
                <li><a href="/#/" class="white-text hide-on-small-only">Log Out</a></li>
                <li><a href="" class="white-text hide-on-med-and-up"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <div class="row">
            <div class="col s12 center">
                <h4 class="header t1-heading-color">Analysis History</h4>
            </div>
            <div class="col push s1 left t1-margin-top-less-50">
                <a href="/#/upload-submission" class="btn"><i class="small material-icons">keyboard_return</i></a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <ul class="collection col s10 m8 push-s2 push-m2">
            <li class="collection-item">
                <div class="row">
                    <div class="col s4 center">
                        <b>Assignment Date</b>
                    </div>
                    <div class="col s3 center">
                        <b>Assignment Name</b>
                    </div>
                    <div class="col s3 center">
                        <b>Assignment Topic</b>
                    </div>
                    <div class="col s2 center">
                        <b>Status</b>
                    </div>
                </div>
            </li>

            <!--Sample-->
            <li class="collection-item">
                <div class="row">
                    <div class="col s4 center">
                        Oct 7, 2017 6:00 PM
                    </div>
                    <div class="col s3 center">
                        Assignment 1
                    </div>
                    <div class="col s3 center">
                        Sample Topic
                    </div>
                    <div class="col s2 center">
                        <a class="btn t1-green-btn">Open</a>
                    </div>
                </div>
            </li>

            <li class="collection-item" ng-repeat="assignment in model.assignments">
                <div class="row">
                    <div class="col s4 center">
                        {{assignment.date}}
                    </div>
                    <div class="col s3 center">
                        {{assignment.name}}
                    </div>
                    <div class="col s3 center">
                        {{assignment.topic}}
                    </div>
                    <div class="col s2 center">
                        <a href="/#/analysis-result/{{assignment.id}}" class="btn t1-green-btn" ng-if="assignment.processed">Open</a>
                        <a class="disabled btn t1-green-btn" ng-if="!assignment.processed">Processing</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>