<div class="navbar-fixed">
    <nav class="t1-navbar">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#/" class="brand-logo left white-text">Code Checker</a>
            <ul class="right ">
                <li><a ng-click="model.logout()" href="#/" class="white-text hide-on-small-only">Log Out</a></li>
                <li><a ng-click="model.logout()" href="#/" class="white-text hide-on-med-and-up"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <div class="row">
            <div class="col push s1 left">
                <a href="#/upload-submission" class="btn"><i class="small material-icons">keyboard_return</i></a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <h4 class="header center t1-heading-color">Side-by-side Diff Between Two Submissions</h4>
            </div>
        </div>

        <div class="row">
            <div class="red-text col s12 m10 push-m2" role="alert" ng-show="model.error">
                {{model.error}}
            </div>
            <h5 class="col s12 left black-text">Similarity metric:</h5>
            <h6 class="col s6">
                <ul>
                    <!--<li>Points: {{model.similarityPoints}}</li>-->
                    <!--<br>-->
                    <li>Percentage: {{model.similarityPercentage}}%</li>
                </ul>
            </h6>
            <div class="col push-s2 s4">
                <br>
                <div class="row">
                    <div class="col s12 m6">
                        <input class="with-gap" name="group3" type="radio" id="original" checked />
                        <label for="original">Original File</label>
                    </div>
                    <div class="col s12 m6">
                        <input class="with-gap" disabled name="group3" type="radio" id="transformed" />
                        <label for="transformed">Transformed File</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-pad-bot" >
    <div class="container">
        <div class="row" >
            <div class="col s6 center blue-text t1-darkgrey-border">{{model.file1Name}}.java</div>
            <div class="col s6 center blue-text t1-darkgrey-border">{{model.file2Name}}.java</div>
        </div>
        <div class="row" style="margin-top: -20px">
            <div class="col s6 t1-min-height-box t1-darkgrey-border">
                <pre><ng-include src="'/code-checker/upload/' + model.file1Name + '.java'"></ng-include></pre>
            </div>
            <div class="col s6 t1-min-height-box t1-darkgrey-border">
                <pre><ng-include src="'/code-checker//upload/' + model.file2Name + '.java'"></ng-include></pre>
            </div>
        </div>
    </div>
</div>
<br>